body {
  margin: 0;
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('https://blog.grafittiartes.com.br/wp-content/uploads/2020/01/shutterstock_592140851.jpg');
  background-color: #ffffff;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:20px;
}